body {
    font-family: "Arial";
    background-color: black;
    color: white;
    padding-left: 16px;
    border: rgb(47, 51, 54);
    /*margin: 25%;*/
    /*width: 75%;*/

}
/*html {*/
/*    margin: 25%;*/
/*    border: thin solid rgb(47, 51, 54);*/
/*}*/
.wd-search {
    /*color: white;*/
    /*background-color: darkgray;*/
    /*border-radius: 20px;*/
    position: relative;
    width: 85%;
    height: 100%;
    display: flex;

}
.wd-search > input::placeholder {
    color: lightgray;
}
.wd-nav-tabs {
    color: rgb(29,161,242);
    padding: 0px;
}
.wd-nav-tabs li {
    list-style-type: none;
    display: inline-block;
    color: rgb(110,118,125);
    padding: 16px;
    font-size: 15px;
    text-decoration: none;

}
.wd-nav-tabs .wd-selected {
    border-bottom: solid 4px;
    color: rgb(29,161,242);
}


.pos-relative {
    position: relative;
}
.pos-absolute-50-50 {
    padding: 12px;
    /*position: relative;*/
    /*left: 12px;*/
}

.wd-searcha {
    margin-left: 12px;
    /*padding-left: 100px;*/
    float: right
    /*display: flex;*/

    align-items: last;
    width: 10%;
    font-size: 50px;
    color: rgb(29, 161, 242);
    text-decoration: none;
    /*display: inline-flex;*/
    /*!*position: absolute;*!*/
    /*!*right: 12px;*!*/

}

.wd-blockc {
    font-size: 13px;
    color: rgb(110,118,125);
}
.wd-heading-blockc{
    font-size: 16px;
    font-weight: 600;
}
.wd-empty {
    background-color: darkgray;
    height: 10px; /* set the height of the block */
    width: 100%; /* set the width of the block */
}

.wd-image {
    float: right;
    padding: 10px;
    position: absolute;
    right: 16px;
    height: 100px;
    width: 100px;
    /*border-radius: thin solid 20px;*/
    border-radius: 20%;
    /*margin-right: 25% ;*/

}

.wd-blockd{
    float: left;
    padding-bottom: 50px;

}

.wd-blocke{
    float: left;
}

.wd-noauthor {
    color: lightgray;
    font-size: 10px;
    font-family: "Arial Black";
}

.wd-blockd-text {
    font-size: 10px;
    font-family: "Arial Black";
}
wd-blockd-heading {
    font-size: 35px;
    font-family: "Arial Black";
}

.float-done {
    clear: both;
}
.search-container {
    display: flex;
    align-items: center;
    background-color: darkgray;
    border-radius: 50px;
    padding: 12px;
    width:  75%;
    /*height: 100px;*/
}

input[type="text"] {
    flex: 1;
    font-size: 12px;
    height: 20px;

    padding: 0 50px;
    /*padding: 8px;*/
    border: none;
    border-radius: 14px;
    background-color: transparent;

}

.fa-cog {
    font-size: 20px;
    color: #6c757d;
    margin-left: 12px;
    cursor: pointer;
}


.wd-searchbar{
    display: flex;
    height: 40px;
    margin: 10px;

    border: thin solid lightgray;
    border-radius: 50px;
}

.wd-searchicon{
    position: absolute;
    left: 34px;
    z-index: 2;
    font-size: 1.5em;
    padding: 5px;
}

.wd-search-design{
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    color: lightgray;
}

.wd-search-design > input {
    color: lightgray;
}

.wd-search-design > input::placeholder {
    color: lightgray;
}

.wd-settings{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 10%;
    font-size: 2em;
    color: rgb(29, 161, 242);
    text-decoration: none;
}

